/* Color Palette: */
:root {
  --primary-black-color: #000000;
  --primary-white-color: #ffffff;
  --primary-bg-color: #f5f5f5;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --hero-overlay-color:  linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  --icon-gray-color: #AFB1B8;

  --transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

h1, h2, h3, h4, h5, h6, p, ul {
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px dashed tomato; */
}

/* Header styles: */
.page-header__inner {
  display: flex;
  align-items: center;
}

.page-header {
  background-color: var(--primary-white-color);

  border-bottom: 1px solid #ECECEC;
}

/* Site-Nav styles: */
/* Logo: */
.logo {
  transition: color 250ms var(--transition-cubic);

  color: var(--primary-black-color);

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo__accent {
  color: var(--accent-color);
}

.list {
  list-style: none;
}
.link,
.logo {
  text-decoration: none;
}

.site-nav {
  display: flex;
  margin-left: 93px;
  gap: 50px;
}

.site-nav__item {
  /* outline: 1px dashed teal; */
}

.site-nav__link {
  transition: color 250ms var(--transition-cubic);

  color: var(--title-text-color);

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* Contacts styles: */
.contacts-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 50px;
}

.contacts-nav__icon{
  fill: currentColor;
}

.contacts-nav__link {
  transition: color 250ms var(--transition-cubic);

  color: var(--primary-text-color);

  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav__link,
.contacts-nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.logo:hover,
.logo:focus,
.link:hover,
.link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
position: relative;
  
  color: var(--accent-color);
}

.site-nav__link--current::after {
position: absolute;
left: 0;
bottom: -1px;

display: inline-block;
content: '';
width: 100%;
height: 4px;

background-color: var(--accent-color);
border-radius: 2px;
}


/* End Header styles */

/* Hero styles: */
.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  max-width: 1600px;
  height: 600px;

  text-align: center;
  background-color: var(--footer-bg-color);
  background-image:
  var(--hero-overlay-color),
  url(../images/hero-overlay.jpg); 
  background-repeat: no-repeat;
  background-position: center;
}

.hero__heading {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  color: var(--primary-white-color);

  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  display: inline-block;
  align-items: center;
  border-radius: 4px;
  width: 216px;
  height: 50px;
  
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border-color: transparent;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}
/* End Hero styles */

/* Modal styles: */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  visibility: visible;
  opacity: 1;

  width: 100%;
  height: 100%;
  
  transition: opacity 250ms var(--transition-cubic),
  visibility 250ms var(--transition-cubic);
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--transition-cubic);
  
  padding: 40px;
  width: 528px;
  height: 581px;
  border-radius: 4px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__button--close {
position: absolute;
top: 8px;
right: 8px;

display: flex;
justify-content: center;
align-items: center;

width: 30px;
height: 30px;
background-color: inherit;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
cursor: pointer;

transition: fill 250ms var(--transition-cubic);
}

.modal__button--close:hover,
.modal__button--close:focus {
  fill:var(--accent-color);
}

/* Modal form styles: */
.modal__text {
margin-bottom: 12px;

font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text-color);
}

.modal__form {
  /* outline: 1px dashed tomato; */
 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-form__field {
  /* outline: 1px dashed teal; */
position: relative;

padding-top: 18px;
margin-bottom: 10px;
}

.modal-form__inner {
  position:relative
}

.modal-form__input {
  padding-left: 42px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}


.modal-form__label {
position: absolute;
top: 0;
left: 0;

font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  width: 18px;
  height: 18px;
}

.modal-form__input:focus,
.modal-form__comment:focus {
  border-color: var(--accent-color);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__comment {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.modal-form__comment::placeholder{
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
}

.modal-form__terms {
  position: relative;
  
  padding-left: 32px;
  margin-bottom: 32px;
  /* outline: 1px dashed blue; */
  
}

.terms__label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.terms__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: underline;
  color: var(--accent-color);
}

.terms__checkbox--visible {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 15px;
  border-radius: 2px;

  border: 2px solid var(--title-text-color);
  background-color: transparent;
  color: var(--primary-white-color);
  fill: transparent;

  transition: border-color 250ms var(--transition-cubic);

}

.terms__checkbox--hidden:focus-visible + .terms__checkbox--visible {
  border-color: var(--accent-color);
}

.terms__checkbox--hidden:checked + .terms__checkbox--visible {
  background-color: var(--accent-color);
  border-color: transparent;
  fill: var(--primary-white-color);
}

/* Hide original checkbox */
.terms__checkbox--hidden{
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.modal-form__button {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  border-radius: 4px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  transition: background-color 250ms var(--transition-cubic);
}

.modal-form__button:hover,
.modal-form__button:focus {
  background-color: #188CE8;
}
/* End Modal styles */


/* Features, Directions & Team Members styles: */

/* Features styles: */
.features {
  padding-top: 94px;
}

.features__heading {
  color: var(--title-text-color);

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.features__list {
  display: flex;
  gap: 30px;
}


/* Hidden section title styles: */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.features__thumb {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-bottom: 30px;

 width: 270px; 
 height: 120px;

 background-color: var(--secondary-bg-color);
 border-radius: 4px;
 /* outline: 1px dashed teal; */
}

.features__title {
  color: var(--title-text-color);

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.features__descr {
  font-size: 14px;
  line-height: 1.71;
}

/* Directions styles: */

.directions {
  padding-top: 94px;
  padding-bottom: 94px;
}

.directions__heading {
  margin-bottom: 50px;

  color: var(--title-text-color);
  
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.directions__list {
  display: flex;
  gap: 30px;
}

/* .directions__item {
  outline: 1px dashed teal;
} */

.directions__thumb {
  position: relative;
  width: 370px;
  height: 294px;

  /* outline: 1px dashed red; */
}

.directions__overlay {
  position: absolute;
  bottom: 0;
  
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);

  /* outline: 1px dashed green; */
}

.directions__title {
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}


/* Team styles: */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  
  background-color: var(--secondary-bg-color);
}

.team__heading {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team__list {
  display: flex;
  gap: 30px;
}

/* .team-card {
  outline: 1px dashed teal;
} */

.team-card {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card__content {
padding-top: 30px;
padding-bottom: 30px;
}

.team-card__title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
}

.team-card__title ,
.team-card__descr {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-card__descr {
  margin-bottom: 16px;
}

.soc-nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  
}

.soc-nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--transition-cubic),
  fill 250ms var(--transition-cubic);
  background-color: var(--primary-white-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-gray-color);

  /* outline: 1px dashed teal; */
}

.soc-nav__link--inverse {
  background-color:rgba(255, 255, 255, 0.1);
  fill: var(--primary-white-color); 
}

.soc-nav__link:hover,
.soc-nav__link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

/* End Features, Directions & Team Members styles */

/* Clients styles: */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__heading {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.clients__list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-gray-color);
  border-radius: 4px;
  transition: border-color 250ms var(--transition-cubic);
}

.clients__icon {
  transition: fill 250ms var(--transition-cubic);
  fill: var(--icon-gray-color);
  /* outline: 1px dashed teal; */
}

.clients__link:hover,
.clients__link:focus {
  border-color: var(--accent-color);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}
/* End Clients styles */

/* Footer styles: */
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-bg-color);
}

.page-footer__container {
display: flex;
justify-content: space-between;
align-items: baseline;

  /* outline: 1px dashed teal; */
}

.page-footer__logo {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--primary-white-color);
  font-style: normal;
}

.address-nav {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.address-nav__link {
  /* outline: 1px dotted teal; */
 display: inline-block;

  transition: color 250ms var(--transition-cubic);
  color: var(--contacts-text-color);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address-nav__link--address {
  display: inline-block;

  color: var(--primary-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.socials{
  display: inline-block;

  width: 206px;
  height: 80px;
  /* outline: 1px dashed tomato; */
}

.socials__text,
.footer-form__text {
  margin-bottom: 20px;

  width: 116px;
  font-weight: 700;
  font-size: 14px;
 line-height: 1.14;
  text-transform: uppercase;
color: var(--primary-white-color);
}


/* Footer form styles: */

.footer-form__wrapper {
  /* outline: 1px dashed tomato; */
}

.footer-form__text {
  display: block;
  width: 100%;
}
.footer-form {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer-form__field {
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: inherit;
  outline: none;

  transition: border-color 250ms var(--transition-cubic);
}

.footer-form__field::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-form__field:focus {
  border-color: var(--accent-color);
  color:var(--primary-white-color)
}

.footer-form__button {
display: inline-flex;
justify-content: center;
align-items: center;
gap: 10px;

width: 200px;
height: 50px;
border-radius: 4px;

font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color: var(--primary-white-color);
fill: currentColor;
background-color: var(--accent-color);
border-color: transparent;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
cursor: pointer;
}

/* End Footer styles */

/* Portfolio styles: */
/* Filter styles: */
.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;

  margin-bottom: 50px;
}

/* .filter__item {
  outline: 1px dotted teal;
} */

.filter__button {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;

  background-color: var(--secondary-bg-color);
  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: inherit;

  transition: background-color 250ms var(--transition-cubic),
  color 250ms var(--transition-cubic),
  box-shadow 250ms var(--transition-cubic);
}

.filter__button:hover,
.filter__button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Grid styles */
.projects__list {
  display: flex;
  flex-wrap: wrap;
}

.product {
  /* outline: 1px dotted teal; */

  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #EEEEEE;

  transition: box-shadow 250ms var(--transition-cubic)
}

.product__image {
  width: 100%;
}

.product:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
 
.product:nth-child(3n) {
  margin-right: 0;
}

.product:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.projects__heading {
  color: var(--title-text-color);
}

.product__title {
margin-bottom: 4px;
  color: var(--title-text-color);

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em;
}

.product__descr {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.88;
}
.product__content {
padding: 20px 24px;
}

.product__thumb {
  position: relative;
  overflow: hidden;
}

.product__overlay {
  position: absolute;
  bottom: 0;
  left: 0;

  transform: translateY(100%);
  transition: transform 250ms var(--transition-cubic);

  padding: 63px 24px;
  width: 100%;
  height: 100%;
  
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  /* outline: 1px dashed tomato; */
}

.product:hover .product__overlay {
  transform: translateY(0);
}

/* End Portfolio styles */