@import "./utils/variables";

body {
    background-color: $color-white-primary;
    color: $color-text-primary;
  
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
  }
  
  h1, h2, h3, h4, h5, h6, p, ul {
    padding: 0;
    margin: 0;
  }
  
  .container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    // outline: 2px dashed tomato;
  }
  
@import "./components/_page-header";
@import "./components/hero";
@import "./components/modal";
@import "./components/features";
@import "./components/directions";
@import "./components/_team";
@import "./components/clients";
@import "./components/page-footer";
@import "./components/portfolio-projects";



