// * Team styles:
.team {
    padding-top: 94px;
    padding-bottom: 94px;
    
    background-color: $color-bg-secondary;
  }
  
  .team__heading {
    margin-bottom: 50px;
  
    color: $color-text-title;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }
  
  .team__list {
    display: flex;
    gap: 30px;
  }