body {
    background-color: $color-white-primary;
    color: $color-text-primary;
  
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
  }
  
  h1, h2, h3, h4, h5, h6, p, ul {
    padding: 0;
    margin: 0;
  }
  
  .container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    // outline: 2px dashed tomato;
  }

  .list {
    list-style: none;
  }

  .link {
    text-decoration: none;

    &:hover,
    &:focus {
    color: $color-accent;
    }
  }

  // * Hidden section title styles:
  .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}